 @import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Raleway:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
}
body{
    font-family: 'Raleway', sans-serif;
    background-image: url("../assets/img/Animes.png");
    
    
}

.centraliza-container{
    margin: auto;
    background-color: rgb(255, 255, 255) ;
}
div{
    width: 85%;
    padding: 3em;
    /* box-shadow: 0 0 2.2em rgba(0, 0, 0, .2); */
    
}
header{
    text-align: center;
}
header ul{
    margin-top: 1.5em;

}
header li{
    list-style-type: none;
    display: inline-block;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    margin-right: 2em;

}
header li:last-child{margin-right: 0;}

header a{
    text-decoration: none; 
    color:orange;
    padding: 8.em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:#6e6a60; 

}
a:hover {
    color: rgb(255, 68, 0);
    text-decoration: none;
  }

main{
    margin-top: 4em;
}
article{
    width: 95%;
}
article img{
    width: 55%;
    float: right;
    margin: 0 0 2.5em 2em;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .39);
}
p{
    font-size: 1.5rem;
    line-height: 160%;
    margin-bottom: 1em;

}
h2{
    font-size: 4.5rem;
    margin-bottom: .72em ;
    font-family: "Racing Sans one";
    color:orange;
}
hr {
    width: 85%;
    margin: 4em auto;
    border: 1.5px solid #ffd700;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, .16);
}
.direita{
    float: left; 
    margin-left: 0;
    margin-right: 2.5em;
}
.texto-direita{
    text-align: right;

}

.back-opac {
    position: relative;
    overflow: hidden;
}

.anime-bg {
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
  
.header-content {
    position: relative;
    margin-left: 7%;
}


